<div id="contact-popup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="document.getElementById('contact-popup').style.display='none'">&times;</span>
    <h2>Connect with me</h2>
    <ul>
      <li><a href="mailto:harald@diractions.eu">Email</a></li>
      <li><a href="https://www.linkedin.com/in/haraldhagenaars">LinkedIn</a></li>
      <li><a href="https://www.instagram.com/haraldhagenaars">Instagram</a></li>
      <li><a href="https://github.com/diractions">GitHub</a></li>
    </ul>
  </div>
</div>